<div class="relative h-10 w-10">
  <div class="absolute inset-0 rounded-2xl bg-[linear-gradient(135deg,var(--brand),var(--accent))] shadow-[0_14px_30px_rgba(37,99,235,0.24)]"></div>
  <div class="absolute inset-[3px] rounded-[14px] border border-white/30"></div>
  <div class="absolute left-[10px] top-[9px] h-[18px] w-[6px] rounded-full bg-white"></div>
  <div class="absolute left-[17px] top-[9px] h-[6px] w-[13px] rounded-full bg-white"></div>
  <div class="absolute left-[17px] top-[15px] h-[6px] w-[10px] rounded-full bg-white/85"></div>
  <div class="absolute left-[17px] top-[21px] h-[6px] w-[13px] rounded-full bg-white"></div>
</div>
